{% extends "template.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-6">Flight from {{ flight.start_airport.city }} to {{ flight.final_airport.city }}</h1>
        <hr class="my-4">
        <p class="lead">Airplane number: {{ flight.airplane.official_number }}</p>
        <p class="lead">Capacity: {{ flight.airplane.capacity }}</p>
    </div>
    {% if request.user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group row">
                    <div class="form-group col-md-10">
                        <input type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-10">
                        <input type="text" class="form-control" name="surname" placeholder="Surname">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Book seat</button>
        </form>
    {% endif %}
    {% if to_show %}
        <span style="color:red">{{info}}</span>
    {% endif %}
    <br>
    <ul class="list-group list-group-flush">
        <li class="list-group-item active">Registered passengers</li>
        {% for passenger in passengers %}
            <li class="list-group-item"> {{ passenger.name }} {{ passenger.surname }}</li>
        {% endfor %}
    </ul>
{% endblock %}