{% extends "template.html" %}   
{% block content %}
    <form method="get">
        <div class="form-group row">
                <div class="form-group col-md-10">
                    <label for="departure_time">Departure time</label>
                    <input type="date" class="form-control" id="departure_time" name="departure_time">
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-10">
                    <label for="arrival_time">Arrival time</label>
                    <input type="date" class="form-control" id="arrival_time" name="arrival_time">
                </div>
            </div>
        <button type="submit" class="btn btn-primary" value="Filter">Filter</button>
    </form>
    <br>

    {% if was_err %}
        <span style="color:red">Wrong format</span><br>
    {% endif %}

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Link</th>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Airplane</th>
                <th scope="col">Departure time</th>
                <th scope="col">Arrival time</th>
            </tr>
        </thead>
        <tbody>
        {% for flight in flights %}
            <tr>
                <th scope="row">{{ flight.id }}</th>
                <td><a href="/flights/{{ flight.id }}">Details</a></td>
                <td>{{ flight.start_airport.city }}</td>
                <td>{{ flight.final_airport.city }}</td>
                <td>{{ flight.airplane.official_number }}</td>
                <td>{{ flight.departure_time }}</td>
                <td>{{ flight.arrival_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}